# Pandas Introduction

Pandas is a powerful library for data manipulation and analysis in Python. It provides data structures like Series and DataFrame for handling structured data.

In [2]:
import pandas as pd
import numpy as np

print("Pandas imported successfully!")
print(f"Pandas version: {pd.__version__}")

Pandas imported successfully!
Pandas version: 2.3.0

## Pandas Series

A Series is a one-dimensional labeled array that can hold any data type.

In [3]:
# Creating a Series
s = pd.Series([1, 3, 5, 6, 8])
print("Series:")
print(s)
print(f"Type: {type(s)}")

# Series with custom index
s_custom = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print("\nSeries with custom index:")
print(s_custom)

# Accessing elements
print(f"s[0]: {s[0]}")
print(f"s_custom['b']: {s_custom['b']}")

# Basic operations
print(f"Mean: {s.mean()}")
print(f"Sum: {s.sum()}")
print(f"Max: {s.max()}")

Series:
0    1
1    3
2    5
3    6
4    8
dtype: int64
Type: <class 'pandas.core.series.Series'>

Series with custom index:
a    10
b    20
c    30
dtype: int64
s[0]: 1
s_custom['b']: 20
Mean: 4.6
Sum: 23
Max: 8

## Pandas DataFrame

A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

In [4]:
# Creating a DataFrame from dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['NYC', 'LA', 'Chicago']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print(f"Type: {type(df)}")

# Basic info
print(f"\nShape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print(f"Index: {list(df.index)}")

# Accessing columns
print(f"\nNames: {df['Name'].tolist()}")
print(f"Ages: {df['Age'].tolist()}")

# Accessing rows
print(f"\nFirst row:\n{df.iloc[0]}")
print(f"Row with index 1:\n{df.loc[1]}")

# Summary statistics
print(f"\nAge statistics:\n{df['Age'].describe()}")

DataFrame:
      Name  Age     City
0    Alice   25      NYC
1      Bob   30       LA
2  Charlie   35  Chicago
Type: <class 'pandas.core.frame.DataFrame'>

Shape: (3, 3)
Columns: ['Name', 'Age', 'City']
Index: [0, 1, 2]

Names: ['Alice', 'Bob', 'Charlie']
Ages: [25, 30, 35]

First row:
Name    Alice
Age        25
City      NYC
Name: 0, dtype: object
Row with index 1:
Name    Bob
Age      30
City     LA
Name: 1, dtype: object

Age statistics:
count     3.0
mean     30.0
std       5.0
min      25.0
25%      27.5
50%      30.0
75%      32.5
max      35.0
Name: Age, dtype: float64

## Reading Data

Pandas can read data from various file formats like CSV, Excel, JSON, and SQL databases.

In [7]:
# Reading CSV file
df_csv = pd.read_csv('../data/sample_data.csv')
print("Data from CSV:")
print(df_csv)
print(f"\nData types:\n{df_csv.dtypes}")

# Reading with options
df_csv_custom = pd.read_csv('../data/sample_data.csv', index_col=0)
print("\nCSV with custom index:")
print(df_csv_custom)

# Creating sample JSON data
import json
sample_data = [
    {"name": "Alice", "age": 25, "city": "NYC"},
    {"name": "Bob", "age": 30, "city": "LA"}
]
with open('../data/sample.json', 'w') as f:
    json.dump(sample_data, f)

# Reading JSON
df_json = pd.read_json('../data/sample.json')
print("\nData from JSON:")
print(df_json)

Data from CSV:
      name  age         city  salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    Diana   28      Houston   55000
4      Eve   32      Phoenix   65000

Data types:
name      object
age        int64
city      object
salary     int64
dtype: object

CSV with custom index:
         age         city  salary
name
Alice     25     New York   50000
Bob       30  Los Angeles   60000
Charlie   35      Chicago   70000
Diana     28      Houston   55000
Eve       32      Phoenix   65000

Data from JSON:
    name  age city
0  Alice   25  NYC
1    Bob   30   LA

## Data Cleaning

Data cleaning involves handling missing values, duplicates, and data type conversions to prepare data for analysis.

In [9]:
# Data Cleaning Examples
import pandas as pd
import numpy as np

# Create a DataFrame with missing values and duplicates
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve'],
    'Age': [25, np.nan, 35, 25, 32],
    'Salary': [50000, 60000, np.nan, 50000, 65000]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Check for missing values
print(f"\nMissing values:\n{df.isnull().sum()}")

# Fill missing values
df_filled = df.fillna({'Age': df['Age'].mean(), 'Salary': df['Salary'].median()})
print("\nDataFrame after filling missing values:")
print(df_filled)

# Remove duplicates
df_no_duplicates = df_filled.drop_duplicates()
print("\nDataFrame after removing duplicates:")
print(df_no_duplicates)

# Convert data types if needed
df_no_duplicates['Age'] = df_no_duplicates['Age'].astype(int)
print("\nDataFrame with Age as int:")
print(df_no_duplicates)
print(f"\nData types:\n{df_no_duplicates.dtypes}")

Original DataFrame:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  35.0      NaN
3    Alice  25.0  50000.0
4      Eve  32.0  65000.0

Missing values:
Name      0
Age       1
Salary    1
dtype: int64

DataFrame after filling missing values:
      Name    Age   Salary
0    Alice  25.00  50000.0
1      Bob  29.25  60000.0
2  Charlie  35.00  55000.0
3    Alice  25.00  50000.0
4      Eve  32.00  65000.0

DataFrame after removing duplicates:
      Name    Age   Salary
0    Alice  25.00  50000.0
1      Bob  29.25  60000.0
2  Charlie  35.00  55000.0
4      Eve  32.00  65000.0

DataFrame with Age as int:
      Name  Age   Salary
0    Alice   25  50000.0
1      Bob   29  60000.0
2  Charlie   35  55000.0
4      Eve   32  65000.0

Data types:
Name       object
Age         int64
Salary    float64
dtype: object

/var/folders/4q/sh_trgw128d534fn5tl4mw5r0000gn/T/ipykernel_62644/3725217668.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates['Age'] = df_no_duplicates['Age'].astype(int)

## Data Filtering and Selection

Pandas provides powerful tools for filtering and selecting data using boolean indexing, loc, and iloc.

In [11]:
# Data Filtering and Selection Examples
import pandas as pd

# Using the sample data
df = pd.read_csv('../data/sample_data.csv')
print("Original DataFrame:")
print(df)

# Boolean indexing - filter by condition
high_salary = df[df['salary'] > 60000]
print("\nEmployees with salary > 60000:")
print(high_salary)

# Multiple conditions
ny_or_la = df[(df['city'] == 'New York') | (df['city'] == 'Los Angeles')]
print("\nEmployees in New York or Los Angeles:")
print(ny_or_la)

# Using loc for label-based selection
print("\nUsing loc - rows 1 to 3, columns 'name' and 'salary':")
print(df.loc[1:3, ['name', 'salary']])

# Using iloc for integer-based selection
print("\nUsing iloc - first 3 rows, first 2 columns:")
print(df.iloc[:3, :2])

# Selecting specific columns
names_and_ages = df[['name', 'age']]
print("\nNames and ages:")
print(names_and_ages)

# Sorting data
sorted_by_age = df.sort_values('age')
print("\nSorted by age:")
print(sorted_by_age)

Original DataFrame:
      name  age         city  salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    Diana   28      Houston   55000
4      Eve   32      Phoenix   65000

Employees with salary > 60000:
      name  age     city  salary
2  Charlie   35  Chicago   70000
4      Eve   32  Phoenix   65000

Employees in New York or Los Angeles:
    name  age         city  salary
0  Alice   25     New York   50000
1    Bob   30  Los Angeles   60000

Using loc - rows 1 to 3, columns 'name' and 'salary':
      name  salary
1      Bob   60000
2  Charlie   70000
3    Diana   55000

Using iloc - first 3 rows, first 2 columns:
      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

Names and ages:
      name  age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Diana   28
4      Eve   32

Sorted by age:
      name  age         city  salary
0    Alice   25     New York   50000
3    Diana   28      Houston   55000
1      Bob   30  Los Angeles   60000
4      Eve   32      Phoenix   65000
2  Charlie   35      Chicago   70000

## Grouping and Aggregation

Grouping data allows you to split data into groups based on criteria and apply aggregate functions like sum, mean, count, etc.

In [13]:
# Grouping and Aggregation Examples
import pandas as pd

# Create a sample DataFrame for grouping
data = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance', 'Finance', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 55000, 65000, 70000, 75000, 62000],
    'Years': [2, 5, 3, 4, 6, 7, 3]
}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by Department and calculate mean salary
grouped = df.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:")
print(grouped)

# Multiple aggregations
agg_result = df.groupby('Department').agg({
    'Salary': ['mean', 'sum', 'count'],
    'Years': 'mean'
})
print("\nMultiple aggregations by department:")
print(agg_result)

# Group by multiple columns
df['Seniority'] = df['Years'].apply(lambda x: 'Senior' if x > 4 else 'Junior')
grouped_multi = df.groupby(['Department', 'Seniority'])['Salary'].mean()
print("\nAverage salary by department and seniority:")
print(grouped_multi)

# Using transform to add group statistics
df['Dept_Avg_Salary'] = df.groupby('Department')['Salary'].transform('mean')
print("\nDataFrame with department average salary:")
print(df[['Employee', 'Department', 'Salary', 'Dept_Avg_Salary']])

Sample DataFrame:
  Department Employee  Salary  Years
0         HR    Alice   50000      2
1         IT      Bob   60000      5
2         HR  Charlie   55000      3
3         IT    Diana   65000      4
4    Finance      Eve   70000      6
5    Finance    Frank   75000      7
6         IT    Grace   62000      3

Average salary by department:
Department
Finance    72500.000000
HR         52500.000000
IT         62333.333333
Name: Salary, dtype: float64

Multiple aggregations by department:
                  Salary               Years
                    mean     sum count  mean
Department
Finance     72500.000000  145000     2   6.5
HR          52500.000000  105000     2   2.5
IT          62333.333333  187000     3   4.0

Average salary by department and seniority:
Department  Seniority
Finance     Senior       72500.0
HR          Junior       52500.0
IT          Junior       63500.0
            Senior       60000.0
Name: Salary, dtype: float64

DataFrame with department average salary:
  Employee Department  Salary  Dept_Avg_Salary
0    Alice         HR   50000     52500.000000
1      Bob         IT   60000     62333.333333
2  Charlie         HR   55000     52500.000000
3    Diana         IT   65000     62333.333333
4      Eve    Finance   70000     72500.000000
5    Frank    Finance   75000     72500.000000
6    Grace         IT   62000     62333.333333

## Merging and Joining DataFrames

Pandas provides methods to combine DataFrames using merge, join, and concatenate operations, similar to SQL joins.

In [15]:
# Merging and Joining Examples
import pandas as pd

# Create sample DataFrames
employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'DepartmentID': [101, 102, 101, 103]
})

departments = pd.DataFrame({
    'DepartmentID': [101, 102, 103, 104],
    'DepartmentName': ['HR', 'IT', 'Finance', 'Marketing'],
    'Location': ['NYC', 'LA', 'Chicago', 'Boston']
})

salaries = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 5],
    'Salary': [50000, 60000, 55000, 70000],
    'Bonus': [5000, 6000, 5500, 7000]
})

print("Employees DataFrame:")
print(employees)
print("\nDepartments DataFrame:")
print(departments)
print("\nSalaries DataFrame:")
print(salaries)

# Inner join (default)
merged_inner = pd.merge(employees, departments, on='DepartmentID', how='inner')
print("\nInner join on DepartmentID:")
print(merged_inner)

# Left join
merged_left = pd.merge(employees, salaries, on='EmployeeID', how='left')
print("\nLeft join on EmployeeID:")
print(merged_left)

# Outer join
merged_outer = pd.merge(employees, salaries, on='EmployeeID', how='outer')
print("\nOuter join on EmployeeID:")
print(merged_outer)

# Concatenate DataFrames vertically
additional_employees = pd.DataFrame({
    'EmployeeID': [5, 6],
    'Name': ['Eve', 'Frank'],
    'DepartmentID': [104, 102]
})

concatenated = pd.concat([employees, additional_employees], ignore_index=True)
print("\nConcatenated DataFrames:")
print(concatenated)

# Multiple merges
full_info = pd.merge(pd.merge(employees, departments, on='DepartmentID'), salaries, on='EmployeeID', how='left')
print("\nFull employee information (multiple merges):")
print(full_info)

Employees DataFrame:
   EmployeeID     Name  DepartmentID
0           1    Alice           101
1           2      Bob           102
2           3  Charlie           101
3           4    Diana           103

Departments DataFrame:
   DepartmentID DepartmentName Location
0           101             HR      NYC
1           102             IT       LA
2           103        Finance  Chicago
3           104      Marketing   Boston

Salaries DataFrame:
   EmployeeID  Salary  Bonus
0           1   50000   5000
1           2   60000   6000
2           3   55000   5500
3           5   70000   7000

Inner join on DepartmentID:
   EmployeeID     Name  DepartmentID DepartmentName Location
0           1    Alice           101             HR      NYC
1           2      Bob           102             IT       LA
2           3  Charlie           101             HR      NYC
3           4    Diana           103        Finance  Chicago

Left join on EmployeeID:
   EmployeeID     Name  DepartmentID   Salary   Bonus
0           1    Alice           101  50000.0  5000.0
1           2      Bob           102  60000.0  6000.0
2           3  Charlie           101  55000.0  5500.0
3           4    Diana           103      NaN     NaN

Outer join on EmployeeID:
   EmployeeID     Name  DepartmentID   Salary   Bonus
0           1    Alice         101.0  50000.0  5000.0
1           2      Bob         102.0  60000.0  6000.0
2           3  Charlie         101.0  55000.0  5500.0
3           4    Diana         103.0      NaN     NaN
4           5      NaN           NaN  70000.0  7000.0

Concatenated DataFrames:
   EmployeeID     Name  DepartmentID
0           1    Alice           101
1           2      Bob           102
2           3  Charlie           101
3           4    Diana           103
4           5      Eve           104
5           6    Frank           102

Full employee information (multiple merges):
   EmployeeID     Name  DepartmentID DepartmentName Location   Salary   Bonus
0           1    Alice           101             HR      NYC  50000.0  5000.0
1           2      Bob           102             IT       LA  60000.0  6000.0
2           3  Charlie           101             HR      NYC  55000.0  5500.0
3           4    Diana           103        Finance  Chicago      NaN     NaN

## Pivot Tables and Cross-tabulations

Pivot tables allow you to reshape and summarize data, while cross-tabulations provide frequency distributions across categories.

In [17]:
# Pivot Tables and Cross-tabulations Examples
import pandas as pd
import numpy as np

# Create sample sales data
sales_data = {
    'Date': pd.date_range('2023-01-01', periods=20, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 20),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 20),
    'Sales': np.random.randint(100, 1000, 20),
    'Quantity': np.random.randint(1, 10, 20)
}

df = pd.DataFrame(sales_data)
print("Sample sales DataFrame:")
print(df.head(10))

# Basic pivot table
pivot_basic = pd.pivot_table(df, values='Sales', index='Product', columns='Region', aggfunc='sum')
print("\nPivot table - Total sales by Product and Region:")
print(pivot_basic)

# Pivot table with multiple aggregation functions
pivot_multi = pd.pivot_table(df, values='Sales', index='Product', columns='Region',
                           aggfunc=['sum', 'mean', 'count'])
print("\nPivot table - Multiple aggregations:")
print(pivot_multi)

# Pivot table with margins (totals)
pivot_margins = pd.pivot_table(df, values='Sales', index='Product', columns='Region',
                             aggfunc='sum', margins=True, margins_name='Total')
print("\nPivot table with totals:")
print(pivot_margins)

# Cross-tabulation
crosstab = pd.crosstab(df['Product'], df['Region'])
print("\nCross-tabulation - Product vs Region frequency:")
print(crosstab)

# Cross-tabulation with values
crosstab_values = pd.crosstab(df['Product'], df['Region'], values=df['Sales'], aggfunc='mean')
print("\nCross-tabulation with average sales:")
print(crosstab_values)

# Pivot table with date grouping (monthly)
df['Month'] = df['Date'].dt.month
pivot_monthly = pd.pivot_table(df, values='Sales', index='Product', columns='Month', aggfunc='sum')
print("\nMonthly sales pivot table:")
print(pivot_monthly)

Sample sales DataFrame:
        Date Product Region  Sales  Quantity
0 2023-01-01       B   West    383         2
1 2023-01-02       A  South    852         9
2 2023-01-03       B   East    968         1
3 2023-01-04       C  North    713         5
4 2023-01-05       B  South    738         1
5 2023-01-06       A   East    451         5
6 2023-01-07       A  South    255         9
7 2023-01-08       C  North    299         2
8 2023-01-09       C   West    415         9
9 2023-01-10       C  South    854         6

Pivot table - Total sales by Product and Region:
Region     East   North   South    West
Product
A         451.0   739.0  1758.0     NaN
B        1122.0   803.0  1969.0  1601.0
C         858.0  1012.0   854.0  1226.0

Pivot table - Multiple aggregations:
            sum                           mean                                 \
Region     East   North   South    West   East  North       South        West
Product
A         451.0   739.0  1758.0     NaN  451.0  739.0  586.000000         NaN
B        1122.0   803.0  1969.0  1601.0  561.0  803.0  656.333333  533.666667
C         858.0  1012.0   854.0  1226.0  858.0  506.0  854.000000  613.000000

        count
Region   East North South West
Product
A         1.0   1.0   3.0  NaN
B         2.0   1.0   3.0  3.0
C         1.0   2.0   1.0  2.0

Pivot table with totals:
Region     East   North   South    West  Total
Product
A         451.0   739.0  1758.0     NaN   2948
B        1122.0   803.0  1969.0  1601.0   5495
C         858.0  1012.0   854.0  1226.0   3950
Total    2431.0  2554.0  4581.0  2827.0  12393

Cross-tabulation - Product vs Region frequency:
Region   East  North  South  West
Product
A           1      1      3     0
B           2      1      3     3
C           1      2      1     2

Cross-tabulation with average sales:
Region    East  North       South        West
Product
A        451.0  739.0  586.000000         NaN
B        561.0  803.0  656.333333  533.666667
C        858.0  506.0  854.000000  613.000000

Monthly sales pivot table:
Month       1
Product
A        2948
B        5495
C        3950